* {
	box-sizing: border-box;
}

body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;	
  margin: 0 auto;
  background-image: url('https://farm6.staticflickr.com/5445/9571177677_bd6938891e_b.jpg');
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.background-blur {
  position: absolute;
  background-color: rgba(33, 33, 33, 0.7);
  width: 100%;
  height: 100%;
  color: #E6E6E6;
}

.content-wrapper {
  width: 60%;
  margin: 0 auto;
}

.content-wrapper>h2 {
	text-align: center;
}

h1 {
  text-align: center;
  margin-top: 40px;
	font-weight: 300;
}

h2 {
  font-size: 1.2em;
  margin-top: 20px;
  margin-bottom: 10px;
	font-weight: 300;
}

.main-group {
  width: 60%;
  margin: 0 auto;
}

#incoming {
  border: 2px solid #4C4C4C;
  border-radius: 3px;
  margin: 0 auto;
  width: 100%;
  height: 200px;
  overflow-y: auto;
  text-align: left;
  background-color: #E6E6E6;
  color: black;
  opacity: .9;
	border-radius: 10px;
	padding: 20px;
}

#group-messages {
	list-style: none;
	margin: 0;
	margin-left: -40px;
}


#outgoing {
  border: 2px solid #4C4C4C;
  border-radius: 3px;
  width: 100%;
  height: 50px;
  font-size: 1em;
  opacity: .9;
	padding: 10px;
	border-radius: 10px;
}

#outgoing:focus {
	outline: none;
}

#message-submit {
  background-color: #00558F;
  color: white;
  width: 40%;
  height: 30px;
  border-radius: 3px;
  border: none;
  font-size: 1em;
  margin-top: 20px;
  transition: background-color .5s;
}

#message-submit:hover {
  background-color: #007ACC;
}

.commands ul {
  list-style-type: none;
}

.commands li {
  margin: 10px;
  margin-left: -20px;
}

